body{

	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

#header{
	background-color: #abcdef
	margin: 0;
	padding: 10px;


	}
#body #sidebar{


}

#body #sidebar ul{

}

#body #sidebar ul li{


}

#body #sidebar ul li a{

}

#body #sidebar ul li a:hover{
	
}